@media only screen  and (max-width:768px) {
    header{
        max-width: 660px;
    }
    .bottom_header{
        flex-direction: column;
    }
    .nav_menu_header ul{
        gap: 1rem;
    }
    .nav_menu_header ul li span{
        font-size: 12px;
    }
    .nav_menu_header ul li div svg{
        height: .8rem;
    }
    .itam_nav_menu:has(.search_part){
        width: 180px;

    }
    .search_part{
        gap: 0rem !important;
    }
    .search_part input{
        width: 120px;
    }
    .search_part input::placeholder{
        font-size: 12px;
    }

    .search_part button{
        width: 30px;
    }
}